---
layout: default
title: Blog
---

    <style>
      body {
        font-family: Calibri, sans-serif;

      }
      p {
    /* word-break: break-all; */
      white-space: normal;
      justify-content: space-between;

}

      .bigger-box {
        /* position: absolute; */
          right: 0px;

        border-radius: 25px;
        border-style: groove;
        border-spacing: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 30px;
        max-width: 80ch;
        /* width: 100%; */
        margin: 20px;
      }

      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

      .box-title {
        padding-top: 10px;
        background-color: rgb(211, 211, 211);


        float: left;
        width: 50%;
        line-height: 5px;
        font-weight: bolder;
      }
      .timestamp {
         padding-top: 10px;
        text-align: right;
        background-color: rgb(211, 211, 211);
        float: left;
        width: 50%;
        line-height: 5px;
      }
    </style>
<h1> Today I Learnt </h1>
</br>
This mostly consists of trivial things that I see interesting.

<b>Disclosure: The UX is broken for this page and it's fix is WIP. Please use mobile view till the issue is fixed. </b>
<div class="posts">


  {% for post in site.posts %}

  {% if post.tags[0] == 'TIL' %}

  <body>
    <div class="bigger-box">
      <div class="clearfix">
        <div class="box-title">
          <p >{{ post.title }}</p>
        </div>
        <div class="timestamp">
          <p>{{ post.date | date_to_string }}</p>
        </div>
      </div>

      <p>{{ post.content | markdownify }}</p>
    </div>
  </body>

  {% endif %}
  {% endfor %}

</div>
