/* Basics */
.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

/* Font */
html {
  font-family: Helvetica, Arial, sans-serif;
}

.content h1 {
  font-size: 2rem;
  padding-top: 0.5rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/* Override Hyde/Poole */
@media (min-width: 48em) {
  .content,
  .container {
    max-width: none;
  }
}

@media (min-width: 48em) {
  .sidebar {
    width: 21rem;
    height: 100vh;
    overflow-y: auto;
    padding-top: 4rem;
  }
}

.sidebar-about h1 {
  font-family: "Montserrat", sans-serif;
}

/* From Bootstrap */
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  display: flex;
  justify-content: space-between;
}

/* Adapted from Alexandre Vicenzi https://alexandrevicenzi.com/ */
.btn-social {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  font-size: 2em;
  line-height: 2.5em;
}

.dropdown {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  font-size: 2em;
  line-height: 2.5em;
  margin-top: 3vh;
  border: solid 2px #fff;
  font-size: 1em;
  background: #fff;

  position: relative;
}

.btn-outline {
  margin-top: 3vh;
  border: solid 2px #fff;
  font-size: 1em;
  background: #fff;
}
a.btn-outline {
  color: inherit;
}

.sidebar a:hover {
  opacity: 0.7;
  text-decoration: none;
}

.sidebar a:active {
  opacity: 0.5;
  text-decoration: none;
}

#credits {
  font-size: 0.8em;
}

#credits a {
  opacity: 0.75;
  text-decoration: none;
}

/*a.btn-outline:active,*/
a.btn-outline:hover {
  opacity: 0.75;
  background: 0;
  color: #fff;
}

a.btn-outline:active {
  opacity: 1;
  background: #fff;
  color: inherit;
}

.blog-nav {
  margin-top: -2em;
  margin-bottom: 0.5em;
  /*font-size: .75em;*/
  text-align: center;
}

.page-title {
  padding-bottom: 1em;
}

.post-subtitle {
  color: #515151;
  margin-top: -0.5em;
  margin-bottom: 1em;
}

/* this does some magic that preserves the 8.5x11" aspect ratio */

/* this does some magic that preserves the 8.5x11" aspect ratio */
.slide-container {
  height: 0;
  width: 100%;
  padding-bottom: 72%; /* 11/8.5 = 1.2941 */
  overflow: hidden;
  position: relative;
}

.slide-container object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* IMAGES & CAPTIONS */
img {
  /* alt-text styling */
  font-size: 0.75rem;
  font-style: italic;
  font-family: Menlo, Monaco, "Courier New", monospace;
}
.caption {
  font-size: 0.75rem;
  font-style: normal;
}
.credit {
  font-size: 0.6rem;
  font-style: italic;
}

/* CODE */
code {
  color: inherit; /* code color matches text or link/title color */
  white-space: nowrap;
}
pre > code,
.code > pre {
  white-space: pre; /* only code in <pre> blocks is allowed to wrap */
}
pre {
  overflow-x: scroll;
  padding: 5px;
  white-space: pre;
}
.lineno {
  word-break: keep-all;
  padding: 0;
  color: rgb(180, 180, 180);
}
code > table {
  margin-bottom: 0;
}
code table,
code td {
  border: none;
}
figure {
  margin: 0;
}

/* COLORS */

/* Green */
.theme-base-0b #sidebar-buttons {
  color: #90a959;
}

/* Cyan */
.theme-base-0c #sidebar-buttons {
  color: #75b5aa;
}

/* Adding IDs for dropdown */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #75b5aa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
