body {
  border-style: groove;

  border-spacing: 20px;

  font-family: Calibri, sans-serif;
  max-width: 100ch;
  margin: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 30px;
}

p.overview {
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
}

p.greyed {
  color: rgb(169, 169, 169);
}
p.greyed-1 {
  text-align: right;
  color: rgb(169, 169, 169);
}
* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.contacts {
  background-color: rgb(211, 211, 211);
  float: left;
  width: 50%;
  height: 5em;
}
.contacts-1 {
  text-align: right;
  background-color: rgb(211, 211, 211);
  float: left;
  width: 50%;
  height: 5em;
}

.tenure-place {
  float: left;
  width: 33.33%;
  height: 1em;
}

.skills {
  float: left;
  width: 50%;
  height: 10em;
}
