---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
   <div class="post-meta">

     <div class="post-categories">
       {% if post %}
         {% assign category = post.categories %}
       {% else %}
         {% assign category = page.categories %}
       {% endif %}

       <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>

     </div>

      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-date">{{ page.date | date: date_format }}</div>



    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
        {% include disqus_comments.html %}
